.list{
    color: white;
    width: 300px;
    background-color: tomato;
    height: auto;
    margin: 20px auto;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
}
.list p input{
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 18px;
}
.list p input:focus{
    outline: none;
}
.del{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 15px;
}